name: .NET Build & Test

on:
  push:
    branches: [ "main", "master", "develop" ]
  pull_request:
    branches: [ "main", "master", "develop" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore "src/Project/Project.sln"

    - name: Build
      run: dotnet build "src/Project/Project.sln" --no-restore --configuration Release

    - name: Test
      run: dotnet test "src/Project/Project.sln" --no-build --verbosity normal --configuration Release
